# Version control
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv
.env
.env.*

# IDE
.idea
.vscode
*.swp
*.swo

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Other
README.md
LICENSE
*.log
.DS_Store
